<div class="wrapper">
  <div class="text-center mt-4 name " style="color:Blue">
    Comic World
  </div>
  <form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="userName" id="userName" placeholder="Email">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="pwd" placeholder="Password">
    </div>
    <button class="btn mt-3">Login</button>
    <button class="btn mt-3" routerLink="/contact">Sign In</button>
  </form>
